<%= stylesheet_link_tag 'top', media: 'all' %>
<div class="back">
  
  <div class="slide">
    <img src="/assets/hands-gbce0330b0_1920.jpg">
    <img src="/assets/hannah-busing-Zyx1bK9mqmA-unsplash.jpg">
    <img src="/assets/jamie-taylor-kTXEJSt1ruo-unsplash.jpg">

    <div class="first-title">
      <h1 class="ec"><font color="white">Ecochat</font></h1>
      <h2><font color="white">環境問題についてみんなで情報を共有しよう</font></h2>
      <h4><font color="white">~環境問題に関する情報や取り組みについて自由に投稿できるサイトです！~</font></h4>
    </div>

  </div>

  <div class="ploblem">
    <h2 class="ploblems">Ploblems</h2>
    <p class=script>
      <b>今世界的に環境問題は深刻化しておりその中でも以下の<font color="red">五大環境問題</font>があります。</b><br>
      <b>以下の問題に対してみんなで情報を共有して身近なところから環境に優しい行動をとっていきましょう！</b>
    </p>

    <div class="flex-container">
      <div class="card" style="width: 13rem; height: 15rem;">
        <img src="/assets/earth_88257.png" class="card-img-top" alt="...">
    
        <p class="card-text"><a href="#second">地球温暖化</a></p>
        
      </div>
      <div class="card" style="width: 13rem; height: 15rem;">
        <img src="/assets/green_sea_icon-icons.com_59425.png" class="card-img-top">
        
        <p class="card-text"><a href="#third">海洋汚染</a></p>
        
      </div>
      <div class="card" style="width: 13rem; height: 15rem;">
        <img src="/assets/water_drop_icon_175805.png" class="card-img-top">
        
        <p class="card-text"><a href="#fours">水質汚染</a></p>
        
      </div>
      <div class="card" style="width: 13rem; height: 15rem;">
        <img src="/assets/windy-1_icon-icons.com_62237.png" class="card-img-top">
        
        <p class="card-text"><a href="#fifth">大気汚染</a></p>
        
      </div>
      <div class="card" style="width: 13rem; height: 15rem;">
        <img src="/assets/tree-nature-forest-brand_icon-icons.com_59267.png" class="card-img-top">
        
        <p class="card-text"><a href="#sixs">森林破壊</a></p>
        
      </div>
      
    </div>
  </div>   
  

 
  <section id="second">
    <a id="second"></a>
    <div class="warming">
      <h2 class="title-second">地球温暖化</h2>
      <div class="flex-tikyuu">
        <p class="tikyuu">人為的な活動の中で増え過ぎた<font color="red">温室効果ガス</font>の影響により、地球全体の気温が上昇する現象のことを指します。
          <br>
          <br>
          近年でも地球温暖化の影響で南極の氷床が融解し、南極生物たちの命が脅かされるなどの事態が発生しています。
          <br>
          <br>
          数ある環境問題の中で最も広範囲に及び、かつ最も深刻なものは、地球温暖化だと言っても過言ではないでしょう。
        </p>
        <p><img src="/assets/onndannka.jpg" class="osen" ></p> 
      </div> 
    </div>
  </section>

  <br>

  <section id="third">
  <a id="third"></a>
    <div class="kaiyouosen">
      <h2 class="title-second">海洋汚染</h2>
      <p class="kaiyou">
          海洋汚染とは、人間の手によって海に廃棄された石油、ごみ、生活排水などの物質が海域を 汚染し、巡り巡って海洋生物たちの生態系のバランスを脅かす現象のことを指します。
          <br>
          <br>
           現在、海洋汚染において最も問題視されているのが<font size="5px"> 「マイクロプラスチック問題」</font>です。
           マイクロプラスチックの正体は主にペットボトルのふた、ストロー、ビニール袋だと言われています。
          
           <br>
           <br>
           環境省によると、もしこのまま海洋汚染に対して何の対策も取らなかった場合、2050年には海洋生物よりもゴミの方が多くなっている可能性が高いということが分かっています。
     </p>
    </div>
  </section>

  <br>

  <section id="fours">
  <a id="fours"></a>
    <div class="suisituosen">
      <h2 class="title-second">水質汚染</h2>
      <div class="flex-suisitu">
        <p class="suisitu">
          海以外の河川、湖、池、地下水などに生活排水やゴミなどが流出し有害な影響が生じている場合は、総じて水質汚染と言います。
          <br>
          <br>
          日本では水質汚染を起こす原因の70％は<font color="red">生活排水</font>にあることが分かっており、中でも台所から流れ出る醤油などの調味料、食用油、米のとぎ汁などによる影響が大きいとされています。
          <br>
          <br>
          また、アフリカなどの水道インフラが整っていない国では、「汚染された水以外に飲み水の選択肢がない」という人々が大勢います。
          <br>
          しかし汚染水を飲んだために命を落としてしまう人もいるのが現状です。
        </p>
        <p><img src="/assets/Pollution-Water-Industrial-Dump-River.jpg" class="kitana" ></p> 
      </div>
    </div>
  </section>

  <br>

  <section id="fifth">
  <a id="fifth"></a>
    <div class="taikiosen">
      <h2 class="title-second">大気汚染</h2>
        <p class="taiki">
          大気汚染とは、<b>車の排気ガスや工場から排出される煙などの有害物質</b>によって空気が汚れてしまう現象のことです。
          大半は人為的な活動が原因となっています。
          <br>
          <br>
          有害物質が空気中に流出すると地球環境を壊すだけでなく、人体に多大な悪影響を及ぼすことがあります。
          <br>
          <br>
          問題となっているのが「PM2.5」です。
          PM2.5とは直径2.5マイクロメートルの小さな粒子状物質のことを指し、人がこれを吸い込んでしまった場合は、肺や気管系の疾患を引き起こすおそれがあると言われています。
        </p>
    </div>
  </section>

  <br>

  <section id="sixs">
  <a id="sixs"></a>
    <div class="sinrinhakai">
      <h2 class="title-second">森林破壊</h2>
      <div class="flex-sinrin">
        <p class="sinrin">
          森林破壊によって引き起こされることに、<font color="red">「野生動物の減少あるいは絶滅」</font>が挙げられます。
          森林の中では多くの希少な生物が絶妙なバランスの中で共生しているため、森林破壊が進み、もし一種でも生物が絶滅すれば、芋づる式に他の種も絶滅してしまうおそれがあります。
          <br>
          <br>
          そしてもう一つは、<font color="red">「気候変動への影響」</font>です。
          伐採や焼失により森林が失われてしまうと、空気中のCO₂が吸収されないだけではなく、樹木内部CO₂が大気中に放たれ、地球温暖化を進行させることに繋がってしまいます。
        </p>
        <p><img src="/assets/roya-ann-miller-BkTsP32Dfnc-unsplash.jpg" class="hakai"></p> 
      </div>
    </div>
  </section>

  <div class=pain>
  </div>

</div>