* {
    padding: 0;
    margin: 0;
}

.indexback{
    background: radial-gradient(rgb(37, 214, 75), rgb(91, 207, 91),rgb(233, 247, 228),rgb(241, 245, 239));
    
    
}

.kensaku{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}
.ecochat{
    width: 600px;
    margin: 30px ;
    margin-left: 200px;
    border: solid #7e6807;
    margin-top: 10px;
    padding-top: 20px;
    background: rgb(243, 247, 242);
}
.image{
    text-align: center;
}
.ecolist{
    border: solid #7e6807;
    margin: 10px;
    padding: 20px;
}
.rank-box{
    position: absolute;  
    right: 100px; 
    top: 600px;
    width: 300px;
    margin: 30px auto;
    border: solid #7e6807;
    margin-top: 10px;
    padding-top: 20px;
    background: rgb(243, 247, 242);
}
.ranklist{ 
    border: solid #7e6807;
    margin: 10px;
    padding: 20px;
}