.syousai{
    margin: 30px 0px 0px 30px;
    
}


.show{
    margin: auto;
    margin-bottom: 40px;
    background: cornsilk;
}
.card-img-top{
    margin-top: 20px;
}
.comment-wrapper{
    text-align: center;
}
.btn{
    margin: 30px;
}
